# Core
Django>=5.1,<5.2
premailer==3.10.0
pycmarkgfm==1.2.1

# Forms
django-crispy-forms==2.3
crispy-bootstrap5==2024.10

# Dev
honcho==2.0.0
setuptools==69.5.1 # needed by honcho
factory-boy>=3.3,<3.4
Faker>=25.9,<25.10

# benchmarking
cmarkgfm==2024.1.14
markdown==3.7
mistune==3.0.2
commonmark==0.9.1
mistletoe==1.4.0

# ❯ python benchmark.py
# Test document: project/utils/tests/samples/syntax.md
# Test iterations: 1000
# Running tests with markdown, mistune, commonmark, mistletoe, cmarkgfm, pycmarkgfm...
# ====================================================================================
# markdown: 12.344363894997514
# mistune: 8.913516586999322
# commonmark: 12.672365811999043
# mistletoe: 10.288378842000384
# cmarkgfm: 0.2362696890013467
# pycmarkgfm: 0.009603722999599995
