# Core
Django>=5.0,<5.1
premailer==3.10.0
pycmarkgfm==1.2.1

# Forms
django-crispy-forms==2.1
crispy-bootstrap5==2024.2

# Dev
honcho==1.1.0
setuptools==69.2.0 # needed by honcho
factory-boy>=3.3,<3.4
Faker>=24.3,<24.4
